<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GeneradorRAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <GeneradorRAM.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="PathRAMTemp" serializeAs="String">
        <value>C:\\RAMTemp</value>
      </setting>
      <setting name="PathBaseRAM" serializeAs="String">
        <value>C:\\</value>
      </setting>
      <setting name="RptPath" serializeAs="String">
        <value>C:\\Rpt</value>
      </setting>
      <setting name="ResumenAtencionMensual" serializeAs="String">
        <value>crResumenAtencionMensual.rpt</value>
      </setting>
      <setting name="ResumenAtencionMensualFinal" serializeAs="String">
        <value>crResumenAtencionMensualFinal.rpt</value>
      </setting>
      <setting name="ResumenAtencionMensualOriginal" serializeAs="String">
        <value>crResumenAtencionMensualOriginal.rpt</value>
      </setting>
      <setting name="ResumenListadoNNA80bis" serializeAs="String">
        <value>crResumenListadoNNA80bis.rpt</value>
      </setting>
      <setting name="ResumenListadoNNASobreAtencion" serializeAs="String">
        <value>crResumenListadoNNASobreAtencion.rpt</value>
      </setting>
      <setting name="ResumenListadoPlazasConvenidas" serializeAs="String">
        <value>CrResumenListadoPlazasConvenidas.rpt</value>
      </setting>
      <setting name="ResumenAtencionMensualPAD" serializeAs="String">
        <value>crResumenAtencionMensual_PAD.rpt</value>
      </setting>
      <setting name="ResumenAtencionMensualPJC" serializeAs="String">
        <value>crResumenAtencionMensual_PJC.rpt</value>
      </setting>
    </GeneradorRAM.Properties.Settings>
  </userSettings>
</configuration>